.menu-icon {
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: 0.5s ease-in-out;

  > * {
    background-color: $page-background-color;
    height: 4px;
    margin: 6px 0;
    transition: 0.4s;
  }
}

.menu-icon div:nth-child(2) {
  width: 15px;
}

.menu-icon.open div:nth-child(1) {
  width: 20px;
  transform: rotate(-45deg) translate(-3px, 3px);
}

.menu-icon.open div:nth-child(2) {
  width: 20px;
  transform: rotate(45deg) translate(-4px, -4px);
}

.loading-spinner {
  height: 100vh;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  color: $primary-color;
}

.internetError {
  @include display-style();
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  color: red;
}

.error-message-container {
  margin-top: 20px;
}

.error {
  font-size: 2rem;
  color: red;
}

.message,
.error-message {
  @include display-style();
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  height: 50px;
  gap: 4px;
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  margin: 0;
}

.message {
  border: 3px solid green;
  background-color: rgba(0, 255, 0, 0.2);
  color: green;
}

.error-message {
  border: 3px solid red;
  background-color: rgba(255, 0, 0, 0.2);
  color: red;
}
