.menu-icon {
  display: none;
  width: 30px;
  height: 25px;
  cursor: pointer;
  transition: 0.5s ease-in-out;

  > * {
    background-color: $page-background-color;
    height: 4px;
    margin: 6px 0;
    transition: 0.4s;
  }
}

.menu-icon.open div:nth-child(1) {
  width: 20px;
  transform: rotate(-45deg) translate(-3px, 3px);
}

.menu-icon.open div:nth-child(2) {
  width: 20px;
  transform: rotate(45deg) translate(-4px, -4px);
}

.menu-icon.open div:nth-child(3) {
  display: none;
}

.loading-spinner {
  height: 100vh;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  color: $primary-color;
}


.error-message {
  color: red;
  font-size: 2rem;
}
