.inputFormStyle {
  display: flex;
  flex-direction: column;

  label {
    font-size: 2rem;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.InputStle {
  position: relative;
  width: 380px;
  height: 45px;
  padding: 0 20px;
  border-radius: 10px;
  border: 1px solid #d7d7d7;
}

.InputStle::placeholder {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -0.03em;
  text-align: left;
  color: #d7d7d7;
}

.buttonStyle {
  cursor: pointer;
  width: 420px;
  height: 50px;
  border-radius: 10px;
  background-color: $primary-color;
  border: 1px solid $primary-color;
  color: $page-background-color;
}

.newletter-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 5rem;
    letter-spacing: -0.03em;
  }

  p {
    width: 50%;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: -0.03em;
    text-align: center;
  }
}

.nesletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  div {
    position: relative;
  }

  input {
    width: 320px;
    padding: 0 45px;
  }
}

.mail-logo {
  position: absolute;
  left: 10px;
  top: 13px;
}

.newsletterStyle::placeholder {
  position: absolute;
  top: 15px;
  left: 45px;
}
