.footer_section {
  margin: 70px 0 30px;
}

.footer-container {
  margin: 70px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 20px;

  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.03em;
  text-align: left;
}

.footer-logo {
  max-width: 171px;
  max-height: 55px;
  margin-left: 20px;
  cursor: pointer;
}

.footer-logo1 {
  max-width: 171px;
}

.footer-links {
  li {
    list-style-type: none;
    padding: 5px 0;
    cursor: pointer;
  }
}

.footer-links li:hover {
  color: $primary-color;
}

.footer-copyright {
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: -0.03em;
  text-align: center;
}
