.header {
  width: 100%;
}
.header_content {
  background-color: $background-color;
  height: 100dvh;
  padding: 2rem;
  @include display-style();
  justify-content: center;
  color: $text-color;
  flex-wrap: wrap;
  // outline: 2px solid red;
  .header-section_intro {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @include respond(phone) {
      min-width: 100%;
    }
    h1 {
      font-size: 3rem;
      font-weight: 700;
      line-height: 3rem;
      @include respond(phone) {
        font-size: 2rem;
      }

      b {
        color: $primary-color;
      }
    }

    p {
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 2.5rem;
    }
  }
  .cube-img {
    flex: 1 0 50%;
    @include respond(phone) {
      flex: 1 0 100%;
    }

    img {
      max-width: 100%;
      height: auto;
      max-height: 45rem;
      opacity: 0.9;
      animation: rotateAnimation 100s linear infinite;
    }
  }
}

.header_nav-section {
  @include display-style();
  justify-content: space-around;
}

.navElement {
  @include display-style();
  gap: 20px;
  list-style-type: none;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.5rem;
  cursor: pointer;
}

.header_button-container {
  display: flex;
  gap: 2rem;
}

.h2button {
  background-color: transparent;
  border: 1px solid $page-background-color;
}
