.header_section {
  @include display-style();
  background-color: $background-color;
  color: $tex-color;
  padding: 20px;
  height: 70vh;
}

.header_nav-section {
  @include display-style();
  justify-content: space-around;
}

.headersection-menu-icon {
  display: none;
}

.navElement {
  @include display-style();
  gap: 20px;
  list-style-type: none;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.5rem;
  cursor: pointer;
}

.navlist :nth-child(2) {
  @include display-style();
  justify-content: center;
  width: 74px;
  height: 30px;
  border-radius: 20px;
  background-color: $primary-color;
}

.header_content {
  @include display-style();
  justify-content: space-evenly;
}

.header-section_intro {
  width: 50%;

  h1 {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 5rem;
    margin-bottom: 10px;

    b {
      color: $primary-color;
    }
  }

  p {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 2rem;
  }
}

.button {
  margin-top: 20px;
  @include display-style;
  gap: 20px;
}

.headerButton {
  background-color: $primary-color;
  color: #fff;
  width: 20rem;
  height: 50px;
  border-radius: 25px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
}

.h1button {
  border: none;
}

.h2button {
  background-color: transparent;
  border: 1px solid $page-background-color;
}

.cube-img {
  overflow: hidden;

  img {
    max-width: 100%;
    height: auto;
    max-height: 45rem;
    opacity: 0.9;
    animation: rotateAnimation 100s linear infinite;
  }
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
