.profileSettings {
  position: relative;
  display: block;
  margin: 50px 0 0 30%;
  padding: 0 50px;
  width: 60%;
}

.userDataUploaded {
  padding: 50px 0 50px 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  width: 100%;
}

.logo {
  position: absolute;
  top: 30px;
  left: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: -0.03em;
  padding-left: 10%;
  color: $primary-color;
}

.noLogo {
  display: none;
}

.uploadImage-section {
  display: flex;
  gap: 15%;
  .uploadImage {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  h2 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0em;
    margin: 0;
  }
  span {
    display: flex;
    gap: 5px;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0em;
    color: $gray-text-color;
    margin: 0;

    div {
      cursor: pointer;
    }
  }
  p {
    margin: 0;
  }
}

.updateProfileForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
  align-items: flex-end;
}
